[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lersveen
	email = 7195448+lersveen@users.noreply.github.com
	signingkey = 7195448+lersveen@users.noreply.github.com
[init]
	defaultBranch = main
[commit]
	gpgsign = true
